* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

img {
    max-width: 500px;
    width: 50%;
    height: auto;
}

img.center {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}

body {
    background-image: url("../img/background.png");
}

main {
    border-radius: 1rem;
    padding: 1rem 2rem 1rem;
    margin: auto;
    margin-top: 2rem;
    background: linear-gradient(lightblue, #f0a1a1);
    box-shadow: 0.5rem 0.5rem 0.25rem #99b4e0;
    width: min(50%, 600px);
}